.clock{
    width:700px;
    height:500px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
}

.clock #stopORstart{
    background:#000;
    color:red;
    font-size: 50px;
    font-family:serif,sans-serif,cursive,fantasy,monospace;
    display:inline;
    border-style:solid;
    border-color:#fff;
}

.clock #reset{
    background:#000;
    color:red;
    font-size: 50px;
    font-family:serif,sans-serif,cursive,fantasy,monospace;
    display:inline;
    border-style:solid;
    border-color:#fff;
}
